<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>
    {{>navbar}}
    <h1 class="text-center my-5">Error 404</h1>
    <h2 class="text-center my-3">{{errorMsg}}</h2>
    <h1 class="text-center my-5">Go to Home Page</h1>
    <h3 class="text-center my-5"><a href="/" class="text-dark">Home</a></h3>
    {{>footer}}
</body>
</html>